.ant-pagination-item-active{
  border-color: #4B42C6 !important;
  background-color: #4B42C6 !important;
}

.ant-pagination-item a{
  display: none;
}

.ant-pagination-item{
  min-width: 8px !important;
  height: 8px !important;
}