@import '~antd/dist/antd.css';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: Lato, sans-serif;
  font-weight: 400;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  height: 100vh;
  background-color: #FFFFFF;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 1.5;
  line-height: 1.4em;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 1.125em;
  line-height: 1em;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 1em;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.4em;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.4em;
}

h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 0.875em;
  line-height: 1.4em;
}

b {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1em;
  line-height: 1.4em;
}

p {
  margin: 0 !important;
}

h1, h2, h3, h4, p {
  color: #4B42C6;
}

h1, h2, h3, h4, p:first-letter {
  text-transform: capitalize
}

span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  /* color: #4B42C6; */
  line-height: 1.4em;
}
.App {
  text-align: center;
}

.page {
  display: flex;
}

.content {
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.ant-progress-bg{
  background-color: #00AB9C;
}

.ant-progress-status-success
.ant-progress-bg{
  background-color: #00AB9C;
}

.ant-progress-status-exception
.ant-progress-bg{
  background-color: #ED3E67;
}



.ant-table-thead > tr > th{
  padding: 6px 16px !important;
  font-size: 11px;
  text-align: center;
  background-color: #fff;
}

.ant-btn-primary {
  background-color: #4B42C6;
}

.ant-btn:hover{
  background-color: #4B42C6;
  color: #fff;
}

.ant-btn:focus{
  background-color: #4B42C6;
  color: #fff;
}

.ant-btn-primary:focus{
  background-color: #4B42C6;
}

.ant-btn{
  padding: 0 11px;
}

/* .ant-table-tbody >tr >td{
  padding: 8px 16px;
} */

.main-container {
  display: flex;
  height: calc(100% - 48px);
}


.flex-between-wrapper {
  display: flex;
  justify-content: space-between;
}

.ant-radio-wrapper {
  display: flex;
  padding: 8px;
  border: solid 1px lightgray;
  border-radius: 8px;
  margin-top: 8px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  color: #4B42C6
}

.page-navbar{
  background-color: #6673E5;
}